*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
} 

.container {
  top: 50%;
  left: 50%;
  padding: 40px;
  background: #CBEDA9;
}

table {
	background: #F48534 !important;
	text-align: center;
	box-shadow: 4px 4px 60px rgba(0,0,0,0.2) !important;
	text-shadow: 4px 4px 60px rgba(0,0,0,0.2) !important;
    color: white !important;
}

nav {
	background-color: #09DC8C!important;
	border: 1px !important;
}

body footer {
    color: beige;
    background-color: #09DC8C;
    padding: 20px;
    text-align: center;
}

.jumbotron {
	background: white !important;
}